//EdwardianScript font
@font-face {
  font-family: 'EdwardianScript';
  src: url("/fonts/EdwardianScript/EdwardianScriptITC.woff2") format('woff2'),
          url('/fonts/EdwardianScript/EdwardianScriptITC.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

//TraditionalArabic font
@font-face {
  font-family: 'TraditionalArabic';
  src: url("/fonts/TraditionalArabic/TraditionalArabic.woff2") format('woff2'),
    url('/fonts/TraditionalArabic/TraditionalArabic.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

//Cormorant font
@font-face {
  font-family: 'Cormorant';
  src: url("/fonts/Cormorant/Cormorant-Medium.woff2") format('woff2'),
    url('/fonts/Cormorant/Cormorant-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}