:root {
  //web
  --side-padding: 30px
  --container-width: 1300px

  //fonts
  --main-font-greyqo: "GreyQo", "Arial", "sans-serif"
  --main-font-traditional-arabic: "TraditionalArabic", "Arial", "sans-serif"
  --second-font-cormorant: "Cormorant", "Arial", "sans-serif"

  //colors
  --black: #000000
  --white: #ffffff
  --main: #F9F5E9
  --brown: #543310
  --light-brown: #AC9C8C

  //opacity-colors
  //--aqua-o-03: rgba(82, 249, 255, 0.3)

  //mobile
  --side-mobile-padding: 15px
}
