:root {
  //web
  --side-padding: 30px
  --container-width: 1300px

  //fonts
  --main-font-greyqo: "GreyQo", "Arial", "sans-serif"
  --main-font-traditional-arabic: "TraditionalArabic", "Arial", "sans-serif"
  --second-font-cormorant: "Cormorant", "Arial", "sans-serif"

  //colors - светлая тема (по умолчанию)
  --black: #000000
  --white: #ffffff
  --main: #F9F5E9
  --brown: #543310
  --light-brown: #AC9C8C
  --title-gradient: #AA9A8A
  --rectangle-bg: #543310

  //opacity-colors
  //--aqua-o-03: rgba(82, 249, 255, 0.3)

  //mobile
  --side-mobile-padding: 15px
}

// Темная тема
.dark-theme {
  //colors - темная тема
  --main: #543310
  --brown: #F9F4E1
  --light-brown: #F9F4E1
  --title-gradient: #F9F4E1
  --rectangle-bg: #F9F4E1
  --white: #ffffff
  --black: #1a1a1a
}
